:root {
    --font-color: rgb(70, 71, 76);
    --background-color: rgb(38, 40, 42);
    --secondary-background-color: rgb(33, 34, 35);
    --correct-font-color: white;
    --cursor-color: cyan;
    --wrong-font-color: red;
    --main-color: cyan;
    --word-space: 10px;
    --sub-background-color: #030303;
}

.icon {
    height: 24px;
}

.icon:hover {
    cursor: pointer;
    color: var(--main-color);
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 4%;
    margin-right: 4%;
}

@font-face {
    font-family: 'Mono';
    src: url('font/mono-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Mono';
    src: url('font/mono-bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

body {
    font-family: 'Mono', sans-serif;
    color: var(--font-color);
}

html {
    background-color: var(--background-color);
}

.content {
    margin: 0 auto;
    position: relative;
    display: flex;
    flex-direction: row;
    padding: 0 1%;
    max-width: 1024px;
    flex-wrap: wrap;
}

.cursor-space {
    display: inline-block;
    width: 2px;
    height: 1.5em;
    margin-top: 4px;
}

.letter {
    margin-left: 2px;
    font-size: 1.5em;
    line-height: 1.5em;
}

.spacer {
    height: 1.5em;
    margin-left: 2px;
    width: var(--word-space);
}

.dropdown-value {

}

.dropdown-value:hover {
    color: var(--main-color);
    cursor: pointer;
}
.dropdown.h3:hover { cursor: pointer; color: var(--main-color); }
.dropdown {
    position: relative;
}
.dropdown-content {
    display: none;
    top: 50%;
    left: 50%;
    flex-direction: column;
    margin-top: 48px;
    transform: translate(-50%, -50%);
    position: absolute;
    align-items: center;
    z-index: 1;
    background-color: var(--background-color);
    border: 1px solid var(--correct-font-color);
    width: 400px;
    border-radius: 8px;
}
.dropdown-option {
    width: 100%;
    height: 24px;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 4px;
    padding-bottom: 4px;
}
.dropdown-option:hover {
    background-color: var(--correct-font-color);
}

.blinking-cursor {
    display: inline-block;
    width: 2px;
    height: 1.5em;
    margin-top: 4px;
    background-color: var(--cursor-color);
    animation: blink 1s linear infinite;
}

@keyframes blink {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}

.statistics-row {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 16px;
}

.statistics-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.statistics-column h3 {
    margin: 0;
}
.statistics-column h2 {
    margin: 0;
    color: var(--correct-font-color);
}

.actions-row {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
    gap: 16px;
}

.tooltip {
    position: relative;
    display: inline-block;
}

a:hover * {
    cursor: pointer;
    color: var(--main-color);
}

.tooltip span {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    position: absolute;
    z-index: 1;
}
.tooltip:hover {
    cursor: default;
}
.tooltip:hover span {
    visibility: visible;
}

.option {
    margin: 0;
}

.option:hover {
    cursor: pointer;
    color: var(--correct-font-color);
}

.option-selected {
    color: var(--main-color);
}

.options-menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding: 4px;
    border-radius: 8px;
    padding-left: 8px;
    padding-right: 8px;
    background-color: var(--sub-background-color);
}

.options-divider {
    height: 80%;
    width: 2px;
    background-color: var(--font-color);
}

.options-menu h5 {
    margin: 0;
}

.select-menu {
    position: absolute;
    left: 50%; top: 50%;
    border-radius: 16px;
    transform: translate(-50%, -50%);
    width: min(80vw, 512px);
    height: 80vh;
    background-color: var(--background-color);
}

.overlay-background {
    display: none;
    position: absolute;
    left: 50%;top: 50%;
    transform: translate(-50%, -50%);
    width: 100vw;
    height: 100vh;
    z-index: 10;
    background-color: rgba(0, 0,0, 0.50)
}

.overlay {
    position: absolute;
    left: 50%; top: 50%;
    border-radius: 16px;
    transform: translate(-50%, -50%);
    width: min(80vw, 512px);
    height: 80vh;
    background-color: var(--background-color);
}

.select-menu-background {
    display: none;
    position: absolute;
    left: 50%;top: 50%;
    transform: translate(-50%, -50%);
    width: 100vw;
    height: 100vh;
    z-index: 10;
    background-color: rgba(0, 0,0, 0.50)
}

.select-menu-input {
    width: 100%;
    height: 32px;
    margin-left: 8px;
    background-color: transparent;
    border: none;
    font-size: 20px;
    color: var(--font-color);
}

.select-menu-input:focus {
    outline: none;
}

.select-menu-icon {
    height: 18px;
    width: 18px;
}

.select-menu-option {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px;
    gap: 16px;
}

.select-menu-option:hover {
    background-color: var(--sub-background-color);
    cursor: default;
}

.select-menu-list {}

.select-menu-option-selected {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px;
    gap: 16px;
}


.select-menu-option .select-menu-icon {
    color: transparent;
}

.word {
    display: flex;
}

.primary-input {
    width: 100%;
    margin-left: 8px;
    background-color: transparent;
    border: 1px solid var(--font-color);
    padding: 8px;
    border-radius: 8px;
    font-size: 20px;
    color: var(--font-color);
}

.primary-input:focus {
    border: 1px solid var(--main-color);
    outline: 1px solid var(--main-color);
}

.primary-button {
    background-color: var(--main-color);
    color: var(--sub-background-color);
    border: none;
    padding: 8px;
    border-radius: 8px;
    font-size: 20px;
    cursor: pointer;
}

#footer-recaptcha {
    display: flex;
    flex-direction: row;
}

#footer-recaptcha * {
    font-size: 0.5rem;
}

.grecaptcha-badge {
    visibility: hidden !important;
}