:root {
    --background-color: #21271d;
    --main-color: #bdd89c;
    --cursor-color: #f6c177;
    --font-color: #c1e7a7;
    --hover-color: #e0def4;
    --wrong-font-color: #eb6f92;
    --correct-font-color: #e0def4;
    --sub-background-color: #030303;
}