:root {
    --background-color: #1f1d27;
    --main-color: #9ccfd8;
    --cursor-color: #f6c177;
    --font-color: #c4a7e7;
    --hover-color: #e0def4;
    --wrong-font-color: #eb6f92;
    --correct-font-color: #e0def4;
    --sub-background-color: #030303;
}